/*  your css code here. If applicable */
.middle{
	border: 1px soild rgb(0,0,0);
	padding: 1px;
}
td{
	border: 1px soild rgb(0,0,0);
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}